* {
    font-family: "Noto Sans", sans-serif;
}

h1.title {
    padding-bottom: 24px;
}

.box {
    margin-bottom: 16px;
    min-height:126px;
    padding: 0.875rem;
    &:hover{
        box-shadow: 0 5px 6px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.2);
    }
}

.me {
    top: -260px;
    position: absolute;
    width: 100%;
    img{
        width: 305px;
        margin: auto;
        border-radius: 48px;
    }
    @include mobile {
        position: relative;
        top: -24px;
    }
}
